:root {
  --x: 0;
  --y: 0;
  --height: 0;
  --widht: 0;
}

html {
  background-color: rgb(204, 236, 226);
}

body {  
  margin-top: 25em;
  overflow: hidden;
  height: 100%;
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  height: 100%;
}

#cursor {
  
  display: none;
  position: absolute;
  border-radius: 50%;
  border: rgb(124, 124, 124);
  border-style:solid;
  height: 1em;
  width: 1em;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  animation-duration: 1.5ms;
  cursor: pointer;
}


button {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

.is-recording {
  background-color: #f44336; 
  animation: blinker 1s linear infinite;
}

.is-recording:hover {
  
  background-color:#942720 ; 
  transition: ease-in-out 0.5s;
}
.is-not-recording {
  background-color: #4caf50; 
}

.is-not-recording:hover {
  background-color: #2e6630 ;   
  transition: ease-in-out 0.5s;
}

.replay-recording {
  background-color: #4c7aaf; 
}

.replay-recording:hover {
  background-color: #355479;
  transition: ease-in-out 0.5s;
}

.is-replaying {
  background-color: #984caf;
  animation: blinker 1s linear infinite;
  transition: ease-in-out 0.5s;
}

.is-replaying:hover {
  background-color: #5f306d;
  transition: ease-in-out 0.5s;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}